<!DOCTYPE html>
<html>
    <head>
        <title>YouReadPaper</title>
    </head>
    <a href="/logout">ログアウトする</a>
    <body>
    <h1>YouReadPaper for {{name}}</h1>
   
    
    <img src="/static/images/ai.png" alt="AI">
    <form action="/url" method="post">
        <input type="text" name="url" placeholder="url">
        <!-- <input type="text" name="body" placeholder="body"> -->
        <input type="submit" value="input arXive URL">
    </form>

<!--     <form action="/update" method="post", id="update">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="body">
        <input type="submit" value="Update">
    </form> -->
<!--     <form action="/delete" method="post" id="delete">
        <input type="submit" value="Delete Selected All Onegai">
    </form> -->
        {% for con in all_contents %}
        <div>
            <input type="radio" name="update" value={{con.id}}>
            <input type="checkbox" name="delete" form="delete" value={{con.id}}>
            {{con.title_en}}：{{con.title_jp}}：
            {{con.abst_en}}:{{con.abst_jp}}
            ：{{con.sol}}：{{con.app}}（{{con.date}}）
        </div>
        {% endfor %}
    </form>
    </body>
</html>
