<!DOCTYPE html>
<html>
    <head>
        <title>YouReadPaper</title>
    </head>
    <a href="/logout">ログアウトする</a>
    <body>
    <p>YouReadPaper for {{name}}</p>
   
    <img src="/static/images/ai.png" alt="AI">
    <form action="/url" method="post">
        <input type="text" name="url" placeholder="url">
        <input type="submit" value="input arXive URL">
    </form>

    {% if all_contents==[] %}
        <h1>arXiveのURLからデータを入力してください</h1>
    {% else %}
        <h1>{{ all_contents[0][0] }}</h1>
        <h3>{{ all_contents[0][1] }}</h3>
    {% endif %}


    <form action="/learn" method="post", id="learn">
    <div><input type="submit" value="学習"></div>
    </form>
    <form action="/estimate" method="post", id="estimate">
    <div><input type="submit" value="推定結果反映"></div>
    </form>

    <form action="/update" method="post", id="update">
        {% for con in all_contents %}
        <div>
            <br>【ID{{con.id}}】<br>{{con.abst_en}}<br>{{con.abst_jp}}
            <br>DB内記録|{{con.prob}}課題|{{con.sol}}解決法|{{con.app}}適応先|
            <br>AI推定値|{{con.prob_est}}|{{con.sol_est}}|{{con.app_est}}|<br>
            |<input type="checkbox" name="prob" value={{con.id}}>課題|
            <input type="checkbox" name="sol" value={{con.id}}>解決法|
            <input type="checkbox" name="app" value={{con.id}}>適応先|
            </input>
        </div>
        {% endfor %}

        <div>
            <input type="submit" value="分類内容登録">
        </div>
    </form>
    </body>
</html>
